html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
}
canvas {
  display: block;
}

button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 8px;
  cursor: pointer;
  max-width: 200px;
}