{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ]
}