{
  "plugins": ["babel"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "babel/camelcase": 1,
    "babel/no-invalid-this": 1,
    "babel/quotes": 1,
    "babel/semi": 1,
    "babel/no-unused-expressions": 1,
    "babel/valid-typeof": 1
  },
  "ignorePatterns": ["dist"]
}
